/* App.css */
* {
  max-width: 100%;
  box-sizing: border-box;
}


.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set a fixed height to the viewport height */
  overflow: auto; /* Make it scrollable when its content overflows */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh; /* Percentage height */
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 2%; /* Percentage padding */
  box-shadow: 0px 0px 1vh rgba(0,0,0,0.5);
  z-index: 1;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.logo img, .home-icon img, .user-info img {
  width: 5vw; /* Viewport width */
  height: 5vh; /* Viewport height */
  margin-right: 1vw;
}

.search-input {
  flex: 0.8;
  height: 4vh;
  margin: 0 2%;
  padding: 0 1%;
  background-color: #fff;
  border-radius: 2vh;
}

.user-info {
  flex: 0.1;
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row; 
  padding: 10vh 3%;
  overflow-y: auto;
  width: 100%; /* Full width */
  margin: auto;
}

/* add media query for small screens */
@media (max-width: 798px) {
  .content {
    flex-direction: column; 
  }
}

.media {
  flex: 1;
  background-color: rgb(234, 234, 234);
  padding: 2vh;
  margin-bottom: 1vh;
  border-radius: 0.5vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(60, 60, 60);
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
}

.posts {
  flex: 5;
  padding-left: 20px;
}

.post {
  background-color: rgb(234, 234, 234);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 0.9vw;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer h3 {
  margin: 0 0 10px;
}

footer p {
  margin: 0 0 5px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info h4 {
  margin: 0;
  padding-left: 10px;
  font-size: 1.2rem;
}

.user-career {
  margin: 0;
  padding-left: 10px;
  font-size: 0.8em;
  color: grey;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.box {
  background-color: rgb(234, 234, 234);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  position: relative;
  width: 100%;
}

.sidebar {
  flex: 9;
  padding-left: 20px;
  display: flex;
  flex-direction: column; /* default to column layout */
  gap: 20px;
}

@media (max-width: 2000px) {
  .sidebar {
    flex-direction: row; /* switch to row layout on small screens */
    flex-wrap: wrap; /* allow the boxes to wrap onto the next line if there isn't enough space */
  }
}

.box.highlights ul li {
  margin-bottom: 10px;
}